@using ProductManager.Models
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Admin
@await Html.PartialAsync("Header")

<body>
	<div class="container-fluid">
		<div class="row header">
			<div class="text-center col-sm-12">
				<h1>
					Sunflower
				</h1>
			</div>
		</div>

		@await Html.PartialAsync("Menu")
		@*my work is here*@

		<div class="row content">
			<div class="col-sm-1"></div>
			<div class="col-sm-10 row">

				<div class="col-sm-4 border rounded">
					<img src="/css/cter.jpg" alt="@Model.FullName" class="rounded-circle img-thumbnail img-fluid" />
					<h2 class="text-center">@ViewBag.user <br>(Admin)</br></h2>
				</div>
				<div class="col-sm-8 border rounded">

					<form action="/user/dopass" class="form-group">
						@if (!string.IsNullOrEmpty(ViewBag.mess))
						{
							<div class="alert alert-danger" role="alert">
								@ViewBag.mess
							</div>
						}
						<div class="form-group">
							<label for="exampleInputEmail1">Current password</label>
							<input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Current password" name="pass.Password"
								   value="@Model.Password" required>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">New password</label>
							<input type="password" class="form-control" id="exampleInputPassword1"
								   placeholder="New Password" name="pass.FullName" value="@Model.FullName" required>
						</div>

						<div class="form-group">
							<label for="repass">Re-enter new password</label>
							<input type="password" class="form-control" id="repass"
								   placeholder="New Password again" name="pass.Email" value="@Model.Email" required>
						</div>

						<input type="submit" class="btn btn-primary"
						value="Change password">
					</form>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>

		<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

		<style>
			form.form-group {
    margin: 3rem 0rem;
}
		</style>

		@*@await Html.PartialAsync("footer")*@
	</div>


</body>
</html>