@using ProductManager.Models
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Product>

@await Html.PartialAsync("Header")

<body>
	<div class="container-fluid">
		<div class="row header">

			<div class="text-center col-sm-12">
			<a href="/product/index" class="text-dark"><h1>Sunflower</h1></a>
			</div>
		</div>
		
		@await Html.PartialAsync("Menu")

		<div class="row context">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10 row">
				<div class="col-sm-3">
					<strong><i>Publisher</i></strong>
					<form action="/product/index" method="post" >
						<select name="par1" class="custom-select" onchange="this.form.submit()">
						<option value="">View all</option>
						@foreach(PublishingHouse o in ViewBag.allCom)
						{
							<option value="@o.Name" @(ViewBag.seacrh.Equals(o.Name) ? "selected" : "")>@o.Name</option>
						}
					</select>
					</form>
					
				</div>
				<div class="col-sm-3">
					<strong><i>Status</i></strong>
					<form action="/product/listStatus" method="post" >
						<select name="par1" class="custom-select" onchange="this.form.submit()">
						<option value="5">View all</option>
						<option value="0">Waiting</option>
						<option value="1">Ready</option>
						
					</select>
					</form>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-2">
					<br>
					<a class="btn btn-outline-primary my-2 my-sm-0 float-right" href="/product/add">Add more product</a>
				</div>
			</div>
			<div class="col-sm-1">
				
			</div>

		</div>

		<div class="row content">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<div>
					<table class="table table-striped ">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Original Price</th>
								<th scope="col">Sell price</th>
								<th scope="col">status</th>
								<th scope="col">Publisher</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							@if(Model.Count == 0)
							{
								<tr>
									<td colspan="7" class="text-center">
										<i>No records found...</i>
									</td>
								</tr>
							}
							else
							{
								@foreach (Product o in Model)
							{
								<tr>
									<td scope="row"><a class="text-info" href="/Product/detail/@o.ProductId">@o.ProductName</a></td>
									<td>
										<form action="/product/quantity/@o.ProductId" method="post">
											<div class="input-group mb-3">
												<input type="hidden" name="upPro.ProductId" value="@o.ProductId">
												<input type="number" class="form-control"
												   name="UpPro.Quantity" value="@o.Quantity" aria-label=""
												   aria-describedby="basic-addon2" min="0" max="9999999"
												   @(o.Status == 0 ? "readonly" : "")>

												<div class="input-group-append">
													@if (o.Status == 1)
													{
														<input type="submit" class="btn btn-outline-success my-2 my-sm-0"
													   value="Enter" id="basic-addon2">
													}

												</div>
											</div>

										</form>

									</td>
									<td>@o.OriginalPrice $</td>
									<td>@o.SellPrice $</td>
									<td>
										<span class="@(o.Status == 1 ? "badge badge-success" : "badge badge-danger")">
											@(o.Status == 1 ? "Ready" : "Waiting")
										</span>

									</td>
									<td><a href="/company/detail/@o.PublisherId">@o.Publishing.Name</a></td>
									<td>
										<a class="text-info" href="/Product/detail/@o.ProductId">Details</a>
										<br>
										<a class="text-info" href="/Product/update/@o.ProductId">Update</a>
										<br>
										@if (o.Quantity > 0)
										{
											<a class="@(o.Status == 1 ? "text-danger" : "text-success")" href="/product/status/@o.ProductId">Change status</a>
										}
									</td>
								</tr>
							}
							}
							

						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		@*	@await Html.PartialAsync("footer")*@

	</div>

</body>
</html>

