@using ProductManager.Models
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Product>

@Html.Partial("_Header.cshtml")

<body>
	<div class="container-fluid">
		<div class="row header">

			<div class="text-center col-sm-12">
				<h1>Comicket</h1>
			</div>
		</div>

		@Html.Partial("_Menu.cshtml")

		<div class="row content">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Original Price</th>
								<th scope="col">Sell price</th>
								<th scope="col">status</th>
								<th scope="col">Publisher</th>
								<th scope="col">Action</th>

							</tr>
						</thead>
						<tbody>

							@foreach (Product o in Model)
							{
								<tr>
									<td scope="row">@o.ProductName</td>
									<td>
										<input class="form-control" type="number" value="@o.Quantity"
										   @(o.Status == 0 ? "readonly" : "") />
									</td>
									<td>@o.OriginalPrice $</td>
									<td>@o.SellPrice $</td>
									<td>
										<span class="@(o.Status == 1 ? "badge badge-success" : "badge badge-danger")">
											@(o.Status == 1 ? "Ready" : "Waiting")
										</span>

									</td>
									<td>@o.Publishing.Name</td>
									<td>
										<a class="text-info" href="/Product/detail/@o.ProductId">Details</a>
										<br>
										<a class="text-info" href="#">Update</a>
										<br>
										<a class="@(o.Status == 1 ? "text-danger" : "text-success")" href="#">Change status</a>
									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		@Html.Partial("_footer.cshtml")
		
	</div>

	
</body>
</html>